In [1]:
import pandas as pd 
import numpy as np

# Price Featuers tests.

In [4]:
close = np.array([10, 12, 13, 11, 14])
high = np.array([11, 13, 14, 12, 15])
low = np.array([9, 11, 12, 10, 13])
open = np.array([9, 12, 12, 11, 13])

In [9]:
from frypto.price import PriceFeatures
pf = PriceFeatures(close, high, low, high)
df = pf.compute()
df

   Price_change  next_log_return  high_low_spread  close_open_spread
0             0              NaN                2                 -1
1             2         0.182322                2                 -1
2             1         0.080043                2                 -1
3            -2        -0.167054                2                 -1
4             3         0.241162                2                 -1

In [21]:
next_log_return = np.array(df.next_log_return)
next_log_return

array([        nan,  0.18232156,  0.08004271, -0.16705408,  0.24116206])

# Lag rolling features

In [33]:
from frypto import LagRollingFeatures

close_np = np.array([100, 101, 102, 103, 104])
LRF = LagRollingFeatures(close_np)
df = LRF.compute(lags=[1, 2], windows=[3])
df

   lag_1  lag_2  rolling_mean_3  rolling_max_3  rolling_min_3
0    NaN    NaN             NaN            NaN            NaN
1  100.0    NaN             NaN            NaN            NaN
2  101.0  100.0           101.0          102.0          100.0
3  102.0  101.0           102.0          103.0          101.0
4  103.0  102.0           103.0          104.0          102.0

In [37]:
columns = df.columns
for col in columns:
    print(list(df[f'{col}']))

[nan, 100.0, 101.0, 102.0, 103.0]
[nan, nan, 100.0, 101.0, 102.0]
[nan, nan, 101.0, 102.0, 103.0]
[nan, nan, 102.0, 103.0, 104.0]
[nan, nan, 100.0, 101.0, 102.0]

# Momentum Features

In [50]:
from frypto.momentum import MomentumFeatures
import numpy as np
close_np = np.array([100, 101, 102, 103, 104])
vf = MomentumFeatures(close_np)
df = vf.compute(window=3, rsi_window=2, macd_windows=(3, 6, 2))
df

   RSI      MACD  Signal_Line    SMA         EMA       ROC
0  NaN  0.000000     0.000000    NaN  100.000000 -1.960784
1  NaN  0.083328     0.062496    NaN  100.666664 -1.941748
2  NaN  0.208389     0.163499  101.0  101.428574 -1.923077
3  NaN  0.359009     0.295468  102.0  102.266670  3.000000
4  NaN  0.519279     0.445292  103.0  103.161293  2.970297

In [58]:
columns = df.columns
for col in columns:
    print(f"{col}, {list(df[f'{col}'])}")

RSI, [nan, nan, nan, nan, nan]
MACD, [0.0, 0.0833282470703125, 0.2083892822265625, 0.3590087890625, 0.5192794799804688]
Signal_Line, [0.0, 0.062496185302734375, 0.16349910199642181, 0.29546815156936646, 0.44529226422309875]
SMA, [nan, nan, 101.0, 102.0, 103.0]
EMA, [100.0, 100.66666412353516, 101.42857360839844, 102.26667022705078, 103.16129302978516]
ROC, [-1.9607844352722168, -1.9417475461959839, -1.9230769872665405, 3.0, 2.97029709815979]

# Statistical features

In [80]:
import numpy as np
from frypto.statistical_features import StatisticalFeatures
close = np.array([90, 91, 102, 103, 21])
sf = StatisticalFeatures(close)
df = sf.compute(window=4)
df

     Skew_4  Kurtosis_4  ZScore_4
0       NaN         NaN       NaN
1       NaN         NaN       NaN
2       NaN         NaN       NaN
3  0.000000   -5.794530  1.079591
4 -1.889176    3.585644 -1.715323

In [81]:
columns = df.columns
for col in columns:
    print(f"{col}, {list(df[f'{col}'])}")

Skew_4, [nan, nan, nan, 0.0, -1.8891759251356406]
Kurtosis_4, [nan, nan, nan, -5.7945303210463734, 3.58564420103653]
ZScore_4, [nan, nan, nan, 1.0795912446866822, -1.7153232284664415]

# Trend Features

In [13]:
import numpy as np
close = np.array([10, 12, 13, 11, 14])
high = np.array([11, 13, 14, 12, 15])
low = np.array([9, 11, 12, 10, 13])
open = np.array([9, 12, 12, 11, 13])

In [14]:
from frypto.trend_features import TrendFeatures
TF = TrendFeatures(close, high, low)
df = TF.compute(window=3)
df

,+DI,-DI,ADX,support_line,resistance_line,tenkan_sen,kijun_sen,senkou_span_a,senkou_span_b,chikou_span
0,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN

# Volatility

In [19]:
from frypto.volatility import VolatilityFeatures
import numpy as np

close = np.arange(5)
high = np.arange(5)
low = np.arange(5)
VF = VolatilityFeatures(close, high, low)
df = VF.compute(window=2)
df

   rolling_std  upper_band  lower_band  ATR
0          NaN         NaN         NaN  NaN
1          0.5         1.5        -0.5  0.5
2          0.5         2.5         0.5  1.0
3          0.5         3.5         1.5  1.0
4          0.5         4.5         2.5  1.0

In [20]:
columns = df.columns
for col in columns:
    print(f"{col}, {list(df[f'{col}'])}")

rolling_std, [nan, 0.5, 0.5, 0.5, 0.5]
upper_band, [nan, 1.5, 2.5, 3.5, 4.5]
lower_band, [nan, -0.5, 0.5, 1.5, 2.5]
ATR, [nan, 0.5, 1.0, 1.0, 1.0]

In [21]:
print(columns)

Index(['rolling_std', 'upper_band', 'lower_band', 'ATR'], dtype='object')