# Exploring Individual Feature types

## 0. Load the data

In [9]:
# Getting data from yfinance
import yfinance as yf
data = yf.download('BTC-USD', period='10y', interval='1d')  # Using 10 years of data
data.head(2)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-10-31,345.009003,348.045013,337.141998,338.321014,338.321014,12545400
2014-11-01,338.649994,340.528992,321.054993,325.748993,325.748993,16677200

Converting the data to np individual arrays as frypto classes exepect.

In [10]:
close = data['Close'].values
high = data['High'].values
low = data['Low'].values
volume = data['Volume'].values
open_ = data['Open'].values

## 1. Price Features

In [13]:
from frypto.price import PriceFeatures

In [47]:
pf = PriceFeatures(close, high, low, open_)
price_features = pf.compute()
price_features.sample(4)

      Price_change  next_log_return  high_low_spread  close_open_spread
1572     31.380127         0.007982       102.726318          35.432861
467       5.619995         0.014835         9.700012           5.502991
2544    472.460938         0.007646      2601.902344         477.273438
3560   -618.898438        -0.009305      1664.480469        -618.039062

### Read the class's documentation

You can always use help(class name to understand the class better.)

In [18]:
# # Uncomment this to see the documentation
# help(PriceFeatures)

## 2. Volume Features

In [48]:
from frypto.volume import VolumeFeatures
vf = VolumeFeatures(close, volume)
volume_features = vf.compute()
volume_features.sample(4)

      volume_change           OBV
691        10065304  2.774907e+09
181        14882100 -6.543535e+07
103        -3913200 -2.517509e+08
1325      -90150144  1.494107e+11

## 3. Volatility Features

In [44]:
from frypto.volatility import VolatilityFeatures

vf = VolatilityFeatures(close=close, high=high, low=low)
volatility_features = vf.compute(window=10) # You can explore with different rolling windows size
volatility_features.sample(4)

      rolling_std    upper_band    lower_band         ATR
947    159.514864   2622.846733   1984.787276  224.631982
2916   287.890743  19949.345353  18797.782381  444.558984
3014   295.349115  23621.274206  22439.877747  691.322461
3030   891.202847  24311.726983  20746.915596  832.269922

## 4. Momentum Features

In [50]:
from frypto.momentum import MomentumFeatures
mf = MomentumFeatures(close)
momentum_features = mf.compute(window=15, rsi_window=14, macd_windows=(12, 26, 9))
momentum_features.sample(4)

            RSI        MACD  Signal_Line           SMA           EMA       ROC
3352  51.367064  671.351562   735.639343  43300.125000  43203.269531  1.208808
2513  42.129859  132.730469   357.171722  47672.160156  47282.300781 -4.176562
3230  46.810829 -655.916016  -693.857239  26227.292969  26420.781250 -1.440145
2449  40.787284 -900.039062  -873.962402  33610.605469  33472.683594 -9.303732

## 5. Trend Features

In [52]:
from frypto.trend_features import TrendFeatures

tf = TrendFeatures(close, high, low)
trend_features = tf.compute(window=20) # adjust windows as required
trend_features.sample(4)

,+DI,-DI,ADX,support_line,resistance_line,tenkan_sen,kijun_sen,senkou_span_a,senkou_span_b,chikou_span
1309,6.821088,15.514337,20.776068,NaN,NaN,7985.900146,8269.750000,8933.805054,11880.330078,6385.819824
2673,16.572452,17.488223,8.559590,NaN,NaN,40060.195312,42570.193359,42439.985352,50986.841797,44500.828125
2437,9.201758,20.275794,28.751633,NaN,NaN,35094.445312,44206.488281,44216.438477,47772.296875,39201.945312
2515,9.423373,24.376104,38.718573,NaN,NaN,48069.486328,42299.532227,41258.982422,44206.488281,64261.992188

## 6. Lag & Rolling Features

In [56]:
from frypto.lag_rolling import LagRollingFeatures

lrf = LagRollingFeatures(close)
# Compute lag and rolling features with specified window sizes
lag_rolling_features = lrf.compute(lags=[1, 5, 10, 15], windows=[10, 20, 50])
lag_rolling_features.sample(4)

,lag_1,lag_5,lag_10,lag_15,rolling_mean_10,rolling_max_10,rolling_min_10,rolling_mean_20,rolling_max_20,rolling_min_20,rolling_mean_50,rolling_max_50,rolling_min_50
2014,9003.070312,8864.766602,7679.867188,6880.323242,8699.755859,9268.761719,7795.601074,7982.538086,9268.761719,6880.323242,7167.290039,9268.761719,5238.438477
1756,10138.049805,10231.744141,11382.616211,11941.968750,10415.936523,10916.053711,10051.704102,10963.332031,11966.407227,10051.704102,10751.755859,12573.812500,9477.641602
472,407.230011,381.648987,386.549011,368.766998,384.745911,407.230011,373.446991,382.140594,407.230011,368.766998,403.793671,458.048004,364.330994
1525,3943.409424,3820.408691,4078.599121,3745.950684,3830.427246,3943.409424,3654.833496,3795.224609,4134.441406,3236.761719,3998.999023,5648.029785,3236.761719

## 7. Statistical Features

In [58]:
from frypto.statistical_features import StatisticalFeatures

sf = StatisticalFeatures(close)
statistical_features = sf.compute(window=20) # adjust any specific windows as required
statistical_features.sample(4)

       Skew_20  Kurtosis_20  ZScore_20
2279  0.056722    -0.990285  -1.107986
1915 -0.081278    -0.185060   2.190206
1984 -0.860384     1.723231   1.921082
2494 -0.344526    -1.280751   0.873548