# Quick start with frypto

## 1. Load and Preview Data

In [33]:
# Getting data from yfinance
import yfinance as yf
data = yf.download('BTC-USD', period='1y', interval='1d')  # Using 1 year of data for quicker results

[*********************100%***********************]  1 of 1 completed

In [34]:
print("Initial Data Snapshot:")
data.head(2)

Initial Data Snapshot:

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-10-31,34500.078125,34719.253906,34083.308594,34667.781250,34667.781250,15758270810
2023-11-01,34657.273438,35527.929688,34170.691406,35437.253906,35437.253906,22446272005

In [35]:
print("current columns before frypto....")
print(data.columns.values)

current columns before frypto....
['Open' 'High' 'Low' 'Close' 'Adj Close' 'Volume']

## 2. Generate All Frypto Features

In [36]:
from frypto.allfeatures import AllFeatures

all_features = AllFeatures(data)
features_df = all_features.compute()

In [37]:
print("current columns after frypto....\n")
print(features_df.columns.values)

current columns after frypto....

['Price_change' 'next_log_return' 'high_low_spread' 'close_open_spread'
 'rolling_std' 'upper_band' 'lower_band' 'ATR' 'RSI' 'MACD' 'Signal_Line'
 'SMA' 'EMA' 'ROC' 'Skew_20' 'Kurtosis_20' 'ZScore_20' 'volume_change'
 'OBV' 'lag_1' 'lag_2' 'lag_3' 'rolling_mean_5' 'rolling_max_5'
 'rolling_min_5' 'rolling_mean_10' 'rolling_max_10' 'rolling_min_10'
 'rolling_mean_20' 'rolling_max_20' 'rolling_min_20' '+DI' '-DI' 'ADX'
 'support_line' 'resistance_line' 'tenkan_sen' 'kijun_sen' 'senkou_span_a'
 'senkou_span_b' 'chikou_span']

In [39]:
features_df.head(2)

,Price_change,next_log_return,high_low_spread,close_open_spread,rolling_std,upper_band,lower_band,ATR,RSI,MACD,...,+DI,-DI,ADX,support_line,resistance_line,tenkan_sen,kijun_sen,senkou_span_a,senkou_span_b,chikou_span
0,0.000000,NaN,635.945312,167.703125,NaN,NaN,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,34667.78125,NaN,NaN,NaN,NaN,NaN,37712.746094
1,769.472656,0.021953,1357.238281,779.980469,NaN,NaN,NaN,NaN,NaN,17.261719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38688.750000